<div class="flex flex-col justify-center items-center">
  <div class="w-[80%] flex justify-center items-center flex-col">
    <h1 class="text-4xl font-semibold my-4">WORKS</h1>
    <p class="w-fit">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <div class="w-16 h-1 my-4  mb-8 border-[1px] border-primary rounded-2xl bg-primary"></div>
    <div class="flex mt-8 flex-wrap justify-evenly gap-8">
      <div
        class="shadow-xl w-[350px] h-[375px] overflow-hidden rounded-xl p-5 py-12 flex flex-col justify-center items-center bg-white gap-5">
      <div class="">
        <img class="w-[338px] h-[231px] object-cover" src="../../../assets/albin 1999 (1).jpg" alt="">
      </div>
        <h2 class="text-xl font-light">Web Design</h2>
        <p class="text-base text-black/80 w-fit">
          porttitor accumsan tincidunt. Qelit nisi, pretium ut lacinia in, elementum id enim.
        </p>
      </div>
      <div
        class="shadow-xl w-[350px] h-[375px] overflow-hidden rounded-xl p-5 py-12 flex flex-col justify-center items-center bg-white gap-5">
      <div class="">
        <img class="w-[338px] h-[231px] object-cover" src="../../../assets/albin 1999 (1).jpg" alt="">
      </div>
        <h2 class="text-xl font-light">Web Design</h2>
        <p class="text-base text-black/80 w-fit">
          porttitor accumsan tincidunt. Qelit nisi, pretium ut lacinia in, elementum id enim.
        </p>
      </div>
      <div
      class="shadow-xl w-[350px] h-[375px] overflow-hidden rounded-xl p-5 py-12 flex flex-col justify-center items-center bg-white gap-5">
    <div class="">
      <img class="w-[338px] h-[231px] object-cover" src="../../../assets/albin 1999 (1).jpg" alt="">
    </div>
      <h2 class="text-xl font-light">Web Design</h2>
      <p class="text-base text-black/80 w-fit">
        porttitor accumsan tincidunt. Qelit nisi, pretium ut lacinia in, elementum id enim.
      </p>
    </div>
    <div
    class="shadow-xl w-[350px] h-[375px] overflow-hidden rounded-xl p-5 py-12 flex flex-col justify-center items-center bg-white gap-5">
  <div class="">
    <img class="w-[338px] h-[231px] object-cover" src="../../../assets/albin 1999 (1).jpg" alt="">
  </div>
    <h2 class="text-xl font-light">Web Design</h2>
    <p class="text-base text-black/80 w-fit">
      porttitor accumsan tincidunt. Qelit nisi, pretium ut lacinia in, elementum id enim.
    </p>
  </div>
    </div>
  </div>
</div>

<div class="w-full bg-primary/60 my-14">
  <div class="flex flex-col justify-center items-center py-14 text-white gap-3">
    <img class="w-40 h-40 object-cover rounded-full" src="../../../assets/albin 1999 (1).jpg" alt="profile">
    <p class="text-xl font-semibold">Sufiyan</p>
    <p class="w-[50%] text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo quia optio sequi minima beatae voluptate ut sit nam blanditiis eos. Ab earum maxime distinctio sed architecto optio tempore porro quod.</p>
    <div class="w-20 h-20 bg-white rounded-full flex justify-center items-center text-primary">
    <i class="fa fa-quote-right text-2xl"></i>
    </div>
    <div class="space-x-16 mt-8 text-2xl">
      <button><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
      <button><i class="fa-sharp fa-solid fa-arrow-right"></i></button>
    </div>
  </div>
</div>
