<div class="bg-light flex justify-center">
  <div class="flex-col md:flex flex lg:flex-row items-center lg:w-[80%] justify-evenly rounded gap-5 py-16 my-16 p-5 bg-whitee shadow-lg">
    <div class="lg:w-[40%] md:w-[400px]">
      <div class="flex xl:flex-row gap-8 md:gap-14 w-full flex-col">
        <img class="w-[160px] rounded h-[160px] object-cover" src="../../../assets/albin 1999 (1).jpg" alt="">
        <div class="space-y-2">
          <p class="text-base"> <span class="font-semibold">Name : </span> <span class="text-black/80">Albin AJ</span></p>
          <p class="text-base"> <span class="font-semibold">Profile : </span> <span class="text-black/80">MEAN Stack Developer</span></p>
          <p class="text-base"> <span class="font-semibold">Email : </span> <span class="text-black/80">albinattumalil@gmail.com</span></p>
          <p class="text-base"> <span class="font-semibold">Phone : </span> <span class="text-black/80">##########</span></p>
        </div>
      </div>
      <p class="text-xl font-semibold mt-8 my-4">Skills</p>
      <div class="text-black/80 space-y-6">
        <div>
          <p>HTML</p>
          <div class="w-full bg-gray-200 rounded-full">
            <div class="bg-blue-600 text-xs font-medium text-white text text-center p-0.5 leading-none" style="width: 90%"> 90%</div>
          </div>
        </div>
        <div>
          <p>HTML</p>
          <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
            <div class="bg-blue-600 text-xs font-medium text-white text-center p-0.5 leading-none " style="width: 45%"> 45%</div>
          </div>
        </div>
        <div>
          <p>HTML</p>
          <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
            <div class="bg-blue-600 text-xs font-medium text-white text-center p-0.5 leading-none " style="width: 45%"> 45%</div>
          </div>
        </div>
        <div>
          <p>HTML</p>
          <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
            <div class="bg-blue-600 text-xs font-medium text-white  text-center p-0.5 leading-none" style="width: 45%"> 45%</div>
          </div>
        </div>

      </div>

        </div>
        <div class="lg:w-[40%] py-6 md:py-6 lg:space-y-6">
          <span class="text-3xl px-4 p-2">About me
          <div class="w-24 ml-7 h-1 my-3 border-[1px] border-primary rounded-2xl bg-primary"></div>
          </span>
          <p class="text-xl text-black/80">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt.
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
            Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
        </div>
  </div>
</div>
