
<div class="w-full h-screen bg-cover flex justify-center items-center flex-col gap-2 bg-center"
 style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png)">
 <p class="text-white text-5xl md:text-7xl font-bold tracking-wider">I am ALBIN</p>
 <p class="text-white text-5xl md:text-7xl font-bold tracking-wider">AJ</p>
<ngx-typed-js class="text-white text-2xl md:text-5xl mt-8 font-semibold" [strings]="['Frontend Developer', 'Figma Desinger', 'Web Developer','Backend Developer']" [loop]="true" [typeSpeed]="60" [smartBackspace]="true">
  <span class="typing "></span>
</ngx-typed-js>
</div>
