
<div class="w-full h-screen bg-primary/60 my-14">
  <div class="flex flex-col bg-red-300 justify-center items-center py-14 gap-3">
    <div class="flex flex-col md:flex-row w-[90%] gap-8 bg-white p-5">
      <div class="flex flex-col justify-center gap-6 w-1/2">
        <h1 class="text-3xl">Send message Us</h1>
        <input class="p-2" type="text" placeholder="Your name">
        <input class="p-2" type="text" placeholder="Your name">
        <input class="p-2" type="text" placeholder="Your name">
        <textarea name="" id="" cols="10" rows="5" placeholder="Message"></textarea>
        <button class="bg-primary p-4 w-52 rounded-xl">Send message</button>
      </div>


      <div class="flex flex-col justify-center gap-8 md:w-1/2 bg-green-500">
        <h1 class="text-3xl">Send message Us</h1>
        <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, facilis. Molestiae magni obcaecati perferendis, repudiandae vitae quia vero dolorem distinctio, blanditiis voluptas eius ipsum ea. Exercitationem, repellendus. Perspiciatis, blanditiis nesciunt!</p>
        <div class="space-y-4">
          <p><span class="text-primary mr-4"><i class="fa-solid fa-location-dot"></i></span>231 Padinjaraathara, Wayanad 670654</p>
          <p><span class="text-primary mr-4"><i class="fa-solid fa-phone"></i></span>231 Padinjaraathara, Wayanad 670654</p>
          <p><span class="text-primary mr-4"><i class="fa-solid fa-message"></i></span>231 Padinjaraathara, Wayanad 670654</p>
        </div>
        <div class="flex gap-4">
          <a href="3">
            <div class="w-12 h-12 border-4 border-primary rounded-full flex justify-center items-center text-2xl">
              <i class="fa-brands fa-square-instagram"></i>
            </div>
          </a>
          <a href="3">
            <div class="w-12 h-12 border-4 border-primary rounded-full flex justify-center items-center text-2xl">
              <i class="fa-brands fa-square-instagram"></i>
            </div>
          </a>
          <a href="3">
            <div class="w-12 h-12 border-4 border-primary rounded-full flex justify-center items-center text-2xl">
              <i class="fa-brands fa-square-instagram"></i>
            </div>
          </a>
          <a href="3">
            <div class="w-12 h-12 border-4 border-primary rounded-full flex justify-center items-center text-2xl">
              <i class="fa-brands fa-square-instagram"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
